<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="CSE 340 App - A sample web application for CSE 340 course">
    <meta name="author" content="Sergio Mondragon">
    <title><%- title %> | CSE 340 App </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/home-large.css">
    <link rel="stylesheet" href="/css/categories.css">
    <link rel="stylesheet" href="/css/categories-large.css">
    <link rel="stylesheet" href="/css/inventory-detail.css">
    <link rel="stylesheet" href="/css/inventory-detail-large.css">
    <link rel="stylesheet" href="/css/account.css">
    <link rel="icon" href="/images/site/favicon-32x32.png" type="image/png">
    <script src="/js/register.js" defer></script>
</head>