.form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    gap: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    padding: 30px 50px;
}

.form button {
    width: 60%;
    display: block;
    margin: 0 auto;
    background-color: var(--primary-color);
    color: white;
    padding: 10px 10px;
    border-radius: 10px;
}

.form p {
    text-align: center;
}

input[type="text"],
input[type="email"],
input[type="password"]{
    height: 40px;
    padding: 5px 10px;
}

.pwd-input {
    display: grid;
    grid-template-columns: 1fr 100px;
}

.pwd-input button {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 10px;
    border-radius: 10px;
}

.password-hint{
    font-size: 12px;
}