.pwd-input {
    display: grid;
    grid-template-columns: 1fr 100px;
}

.pwd-input button {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 10px;
    border-radius: 10px;
}

.password-hint{
    font-size: 12px;
}