/* Account Management */
.account-welcome {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.inventory-management {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Account form */
.pwd-input {
    display: grid;
    grid-template-columns: 1fr 100px;
}

.pwd-input button {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 10px;
    border-radius: 10px;
}

.password-hint {
    font-size: 12px;
}