.hero-message {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: rgba(144, 224, 239, 0.8);
    width: 50%;
    gap: 10px;
    padding: 5px;
    z-index: 15;
}

.hero-message button {
    width: 80%;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: white;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    cursor: pointer;
}

.hero-message button:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: white;
}

.hero-section {
    position: relative;
    height: 200px;
}

.hero-section picture {
    position: absolute;
    top: 0;
    left: 40px;
    z-index: 10;
}

.reviews {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 36px;
}

.reviews ul {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    list-style-type: disc;
    gap: 10px;
}

.upgrades{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 36px;
}

.upgrade-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 30px;
    column-gap: 10px;
}

.upgrade-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.upgrade-card div{
    display: flex;
    justify-content: center;
    background-color: var(--secondary-color);
    width: 100%;
    height: 100%;
    padding: 30px;
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
}