@media only screen and (min-width:38rem) {

    .detail-card {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        padding: 40px 10px;
    }

    .detail-card .detail-image {
        padding: 50px;
    }

    .detail-card .detail-image img {
        width: 100%;
    }

    .detail-info {
        display: grid;
        height: fit-content;
        grid-template-rows: 80px auto auto;
    }

    .detail-info-header-mobile {
        display: none;
    }

    .detail-info-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    .detail-info-header p {
        font-weight: 800;
        color: var(--primary-color);
    }

    .detail-info-technical ul {
        flex-direction: column;
        gap: 10px;
        padding: 0px;
        font-size: 18px;
    }

    .detail-info-description{
        margin-bottom: 20px;
    }
}