<h1><%= title %></h1>
<%- messages() %>
<ul class="management-options">
    <li>
        <a href="/inv/add-classification">Add Classification</a>
    </li>
    <li>
        <a href="/inv/add-inventory">Add Inventory</a>
    </li>
</ul>
<div id="inventory-management">
    <h2>Manage Inventory</h2>
    <p>Select a classification from the list to see the items belonging to the classification.</p>
    <br>
    <%- classificationOptions %>
    <table id="inventoryDisplay"></table>
</div>
<noscript>JavaScript must be enabled to use this page.</noscript>
<script src="../../js/inventory.js"></script>
